doctype html
html
    head
        style
            include style.css
    body
        div.header
            | Hello world
            br
            | This is header

        block content

        div.footer
            | (c) Sep-2021 1991-2022
            br
            | FOOTER !
            a(href=frontendUrl) CLICK HERE