<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/login" method="post">
    <div style="display: flex;flex-direction: column">
        <label><div style="width: 60px">Email:</div><input type="text" name="email"></label>
        <label><div style="width: 60px">Password:</div><input type="text" name="password"></label>
        <label><div style="width: 60px">FirstName:</div><input type="text" name="firstName"></label>
        <label><div style="width: 60px">LastName:</div><input type="text" name="lastName"></label>
        <label><div style="width: 60px">Age:</div><input type="number" name="age"></label>
        <label><div style="width: 60px">City:</div><input type="text" name="city"></label>
        <button style="width: 50px">SEND</button>
    </div>
</form>

</body>
</html>